<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>815容云及时通信.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85ED57451D6053D2002412A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85ED575E1D6053D3002412A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85ED57691D6053D3002412A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
